<nav>
    <div class="header">
    <img class="header-logo"  src="/images/teamboard-logo.png"  alt="logo" >

    </div>
    
    <ul>
        <li>
            <a href="/team/members">About </a>
        </li>
        <li>
            <a href="/team/display">Display </a>
        </li>
        <li>
            <a href="/team/add">Add</a>
        </li>


    </ul>
</nav>