<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>


<body>
    


<div class="not-found">
   <h2>Oops , Page not found</h2>
</div>
</body>

<%- include('./partials/footer.ejs') %>

</html>